Lenguaje de Marcas/Relacion5/ejercicio9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="hospital">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" />
                <xs:element name="departamentos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="departamento" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Urgencias" />
                                                    <xs:enumeration value="Pediatria" />
                                                    <xs:enumeration value="Traumatologia" />
                                                    <xs:enumeration value="Oncologia" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="medicoJefe">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z].*" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="pacientes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="paciente" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="dni">
                                                                    <xs:simpleType>
                                                                        <xs:restriction
                                                                            base="xs:string">
                                                                            <xs:pattern
                                                                                value="\d{8}[A-Za-z]" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="edad">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:integer">
                                                                            <xs:minInclusive value="0"/>
                                                                            <xs:maxInclusive value="120"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="fechaIngreso" type="xs:date"/>
                                                                <xs:element name="diagnostico" type="xs:string"/>
                                                                <xs:element name="tratamiento" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>