Lenguaje de Marcas/UD1/Relacion5/ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="agencia">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paquetes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="paquete" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="destino" type="xs:string" />
                                        <xs:element name="precio">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:minExclusive value="0" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="fechaInicio" type="xs:date" />
                                        <xs:element name="fechaFin" type="xs:date" />
                                        <xs:element name="tipo">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="aventura" />
                                                    <xs:enumeration value="familiar" />
                                                    <xs:enumeration value="relax" />
                                                    <xs:enumeration value="cultura" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="clientes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cliente">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nombre">
                                                                    <xs:simpleType>
                                                                        <xs:restriction
                                                                            base="xs:string">
                                                                            <xs:pattern
                                                                                value="[A-Z].*" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="dni">
                                                                    <xs:simpleType>
                                                                        <xs:restriction
                                                                            base="xs:string">
                                                                            <xs:pattern
                                                                                value="\d{8}[a-z]" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="edad">
                                                                    <xs:simpleType>
                                                                        <xs:restriction
                                                                            base="xs:integer">
                                                                            <xs:minInclusive
                                                                                value="18" />
                                                                            <xs:maxInclusive
                                                                                value="99" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="email">
                                                                    <xs:simpleType>
                                                                        <xs:restriction
                                                                            base="xs:string">
                                                                            <xs:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>