Lenguaje de Marcas/UD1/Relacion5/ejerciccio8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="redSocial">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuarios">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="usuario" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombreUsuario">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Za-z0-9_]{3,15}" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                        value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="seguidores">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:positiveInteger" />
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="publicacion" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo" type="xs:string" />
                                                    <xs:element name="fecha" type="xs:date" />
                                                    <xs:element name="like">
                                                        <xs:simpleType>
                                                            <xs:restriction
                                                                base="xs:positiveInteger" />
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="comentario">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="autor"></xs:element>
                                                                <xs:element name="contenido"></xs:element>
                                                                <xs:element name="fecha"
                                                                    type="xs:date" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name=" id" type="xs:positiveInteger" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
